<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>101</key>
	<dict>
		<key>name</key>
		<string>温和,厚道</string>
		<key>id</key>
		<integer>101</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>102</key>
	<dict>
		<key>name</key>
		<string>有说服力</string>
		<key>id</key>
		<integer>102</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>103</key>
	<dict>
		<key>name</key>
		<string>谦和</string>
		<key>id</key>
		<integer>103</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>104</key>
	<dict>
		<key>name</key>
		<string>有主见，自创力的</string>
		<key>id</key>
		<integer>104</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>201</key>
	<dict>
		<key>name</key>
		<string>会吸引人</string>
		<key>id</key>
		<integer>201</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>202</key>
	<dict>
		<key>name</key>
		<string>可以与人合作</string>
		<key>id</key>
		<integer>202</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>203</key>
	<dict>
		<key>name</key>
		<string>不屈服的</string>
		<key>id</key>
		<integer>203</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>204</key>
	<dict>
		<key>name</key>
		<string>令人喜爱的</string>
		<key>id</key>
		<integer>204</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>301</key>
	<dict>
		<key>name</key>
		<string>跟随者</string>
		<key>id</key>
		<integer>301</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>302</key>
	<dict>
		<key>name</key>
		<string>勇敢的</string>
		<key>id</key>
		<integer>302</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>303</key>
	<dict>
		<key>name</key>
		<string>忠诚</string>
		<key>id</key>
		<integer>303</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>304</key>
	<dict>
		<key>name</key>
		<string>可爱</string>
		<key>id</key>
		<integer>304</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>401</key>
	<dict>
		<key>name</key>
		<string>开放的</string>
		<key>id</key>
		<integer>401</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>402</key>
	<dict>
		<key>name</key>
		<string>好施恩帮助</string>
		<key>id</key>
		<integer>402</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>403</key>
	<dict>
		<key>name</key>
		<string>有毅力</string>
		<key>id</key>
		<integer>403</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>404</key>
	<dict>
		<key>name</key>
		<string>开朗的</string>
		<key>id</key>
		<integer>404</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>501</key>
	<dict>
		<key>name</key>
		<string>开心果</string>
		<key>id</key>
		<integer>501</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>502</key>
	<dict>
		<key>name</key>
		<string>要求精细</string>
		<key>id</key>
		<integer>502</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>503</key>
	<dict>
		<key>name</key>
		<string>厚脸皮，有勇气</string>
		<key>id</key>
		<integer>503</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>504</key>
	<dict>
		<key>name</key>
		<string>镇定、冷静</string>
		<key>id</key>
		<integer>504</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>601</key>
	<dict>
		<key>name</key>
		<string>好竞争的</string>
		<key>id</key>
		<integer>601</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>602</key>
	<dict>
		<key>name</key>
        <string>善解人意</string>
		<key>id</key>
		<integer>602</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>603</key>
	<dict>
		<key>name</key>
		<string>爱与人取乐</string>
		<key>id</key>
		<integer>603</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>604</key>
	<dict>
		<key>name</key>
		<string>和睦</string>
		<key>id</key>
		<integer>604</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>701</key>
	<dict>
		<key>name</key>
		<string>挑剔</string>
		<key>id</key>
		<integer>701</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>702</key>
	<dict>
		<key>name</key>
		<string>服从</string>
		<key>id</key>
		<integer>702</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>703</key>
	<dict>
		<key>name</key>
		<string>坚持</string>
		<key>id</key>
		<integer>703</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>704</key>
	<dict>
		<key>name</key>
		<string>活泼</string>
		<key>id</key>
		<integer>704</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>801</key>
	<dict>
		<key>name</key>
		<string>勇敢</string>
		<key>id</key>
		<integer>801</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>802</key>
	<dict>
		<key>name</key>
		<string>会激励人</string>
		<key>id</key>
		<integer>802</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>803</key>
	<dict>
		<key>name</key>
		<string>谦让</string>
		<key>id</key>
		<integer>803</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>804</key>
	<dict>
		<key>name</key>
		<string>害羞，沉静</string>
		<key>id</key>
		<integer>804</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>901</key>
	<dict>
		<key>name</key>
		<string>好交际</string>
		<key>id</key>
		<integer>901</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>902</key>
	<dict>
		<key>name</key>
		<string>有耐心，稳重</string>
		<key>id</key>
		<integer>902</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>903</key>
	<dict>
		<key>name</key>
		<string>有自信</string>
		<key>id</key>
		<integer>903</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>904</key>
	<dict>
		<key>name</key>
		<string>含蓄、保守</string>
		<key>id</key>
		<integer>904</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>name</key>
		<string>勇于冒险</string>
		<key>id</key>
		<integer>1001</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>name</key>
		<string>勇于接纳意见</string>
		<key>id</key>
		<integer>1002</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>name</key>
		<string>热心</string>
		<key>id</key>
		<integer>1003</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1004</key>
	<dict>
		<key>name</key>
		<string>言行中庸，稳健</string>
		<key>id</key>
		<integer>1004</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1101</key>
	<dict>
		<key>name</key>
		<string>健谈</string>
		<key>id</key>
		<integer>1101</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1102</key>
	<dict>
		<key>name</key>
		<string>能克制</string>
		<key>id</key>
		<integer>1102</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1103</key>
	<dict>
		<key>name</key>
		<string>一贯作风</string>
		<key>id</key>
		<integer>1103</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1104</key>
	<dict>
		<key>name</key>
		<string>武断</string>
		<key>id</key>
		<integer>1104</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1201</key>
	<dict>
		<key>name</key>
		<string>圆滑发言</string>
		<key>id</key>
		<integer>1201</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1202</key>
	<dict>
		<key>name</key>
		<string>大胆</string>
		<key>id</key>
		<integer>1202</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1203</key>
	<dict>
		<key>name</key>
		<string>机智，老练</string>
		<key>id</key>
		<integer>1203</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1204</key>
	<dict>
		<key>name</key>
		<string>随和</string>
		<key>id</key>
		<integer>1204</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1301</key>
	<dict>
		<key>name</key>
		<string>积极的挑战者</string>
		<key>id</key>
		<integer>1301</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1302</key>
	<dict>
		<key>name</key>
		<string>常受瞩目</string>
		<key>id</key>
		<integer>1302</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1303</key>
	<dict>
		<key>name</key>
		<string>随和</string>
		<key>id</key>
		<integer>1303</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1304</key>
	<dict>
		<key>name</key>
		<string>胆小</string>
		<key>id</key>
		<integer>1304</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1401</key>
	<dict>
		<key>name</key>
		<string>极小心</string>
		<key>id</key>
		<integer>1401</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1402</key>
	<dict>
		<key>name</key>
		<string>坚定的</string>
		<key>id</key>
		<integer>1402</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1403</key>
	<dict>
		<key>name</key>
        <string>使人信服的</string>
		<key>id</key>
		<integer>1403</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1404</key>
	<dict>
		<key>name</key>
		<string>态度从容</string>
		<key>id</key>
		<integer>1404</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1501</key>
	<dict>
		<key>name</key>
		<string>共甘苦与乐</string>
		<key>id</key>
		<integer>1501</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1502</key>
	<dict>
		<key>name</key>
		<string>热切的</string>
		<key>id</key>
		<integer>1502</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1503</key>
	<dict>
		<key>name</key>
		<string>乐于答允，支持</string>
		<key>id</key>
		<integer>1503</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1504</key>
	<dict>
		<key>name</key>
		<string>精力充沛</string>
		<key>id</key>
		<integer>1504</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	
	<key>1601</key>
	<dict>
		<key>name</key>
		<string>有信心</string>
		<key>id</key>
		<integer>1601</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1602</key>
	<dict>
		<key>name</key>
		<string>有同情心</string>
		<key>id</key>
		<integer>1602</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1603</key>
	<dict>
		<key>name</key>
		<string>能忍耐</string>
		<key>id</key>
		<integer>1603</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1604</key>
	<dict>
		<key>name</key>
		<string>独断，有毅力</string>
		<key>id</key>
		<integer>1604</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1701</key>
	<dict>
		<key>name</key>
		<string>有自律</string>
		<key>id</key>
		<integer>1701</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1702</key>
	<dict>
		<key>name</key>
		<string>大方，乐于分享</string>
		<key>id</key>
		<integer>1702</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>1703</key>
	<dict>
		<key>name</key>
		<string>善用肢体语言</string>
		<key>id</key>
		<integer>1703</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1704</key>
	<dict>
		<key>name</key>
		<string>不轻易放弃</string>
		<key>id</key>
		<integer>1704</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1801</key>
	<dict>
		<key>name</key>
		<string>勇于赞扬</string>
		<key>id</key>
		<integer>1801</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1802</key>
	<dict>
		<key>name</key>
		<string>乐于助人</string>
		<key>id</key>
		<integer>1802</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1803</key>
	<dict>
		<key>name</key>
		<string>容易妥协</string>
		<key>id</key>
		<integer>1803</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>1804</key>
	<dict>
		<key>name</key>
		<string>好强</string>
		<key>id</key>
		<integer>1804</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1901</key>
	<dict>
		<key>name</key>
		<string>尊重、顺从</string>
		<key>id</key>
		<integer>1901</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>1902</key>
	<dict>
		<key>name</key>
		<string>有企业精神</string>
		<key>id</key>
		<integer>1902</integer>
		<key>value1</key>
        <string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>1903</key>
	<dict>
		<key>name</key>
		<string>乐天派</string>
		<key>id</key>
		<integer>1903</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>1904</key>
	<dict>
		<key>name</key>
		<string>亲切助人</string>
		<key>id</key>
		<integer>1904</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>name</key>
		<string>好争辩</string>
		<key>id</key>
		<integer>2001</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>name</key>
		<string>可适应变</string>
		<key>id</key>
		<integer>2002</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>name</key>
        <string>淡然，漠不关心</string>
		<key>id</key>
		<integer>2003</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>name</key>
		<string>不杞人忧天</string>
		<key>id</key>
		<integer>2004</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>2101</key>
	<dict>
		<key>name</key>
		<string>忠实可靠</string>
		<key>id</key>
		<integer>2101</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>2102</key>
	<dict>
		<key>name</key>
		<string>安分、满足</string>
		<key>id</key>
		<integer>2102</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2103</key>
	<dict>
		<key>name</key>
		<string>积极</string>
		<key>id</key>
		<integer>2103</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>2104</key>
	<dict>
		<key>name</key>
		<string>平淡、恬静</string>
		<key>id</key>
		<integer>2104</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>2201</key>
	<dict>
		<key>name</key>
		<string>喜欢交朋友</string>
		<key>id</key>
		<integer>2201</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>2202</key>
	<dict>
		<key>name</key>
		<string>带书卷气息</string>
		<key>id</key>
		<integer>2202</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>#</string>
	</dict>
	<key>2203</key>
	<dict>
		<key>name</key>
		<string>有干劲活力</string>
		<key>id</key>
		<integer>2203</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>2204</key>
	<dict>
		<key>name</key>
		<string>宽容的</string>
		<key>id</key>
		<integer>2204</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2301</key>
	<dict>
		<key>name</key>
		<string>平易近人</string>
		<key>id</key>
		<integer>2301</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>2302</key>
	<dict>
		<key>name</key>
		<string>严谨</string>
		<key>id</key>
		<integer>2302</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>N</string>
	</dict>
	<key>2303</key>
	<dict>
		<key>name</key>
		<string>爽直</string>
		<key>id</key>
		<integer>2303</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>2304</key>
	<dict>
		<key>name</key>
		<string>有保留</string>
		<key>id</key>
		<integer>2304</integer>
		<key>value1</key>
		<string>N</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2401</key>
	<dict>
		<key>name</key>
		<string>不休息，能量高</string>
		<key>id</key>
		<integer>2401</integer>
		<key>value1</key>
		<string>O</string>
		<key>value2</key>
		<string>O</string>
	</dict>
	<key>2402</key>
	<dict>
		<key>name</key>
		<string>友善</string>
		<key>id</key>
		<integer>2402</integer>
		<key>value1</key>
		<string>V</string>
		<key>value2</key>
		<string>V</string>
	</dict>
	<key>2403</key>
	<dict>
		<key>name</key>
		<string>受人拥戴</string>
		<key>id</key>
		<integer>2403</integer>
		<key>value1</key>
		<string>@</string>
		<key>value2</key>
		<string>@</string>
	</dict>
	<key>2404</key>
	<dict>
		<key>name</key>
		<string>整洁，有纪律</string>
		<key>id</key>
		<integer>2404</integer>
		<key>value1</key>
		<string>#</string>
		<key>value2</key>
		<string>#</string>
	</dict>
</dict>
</plist>
